
#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  
}
  
  .site-layout-sub-header-background {
    background: rgb(100, 165, 238);
    text-align: center;
    font-size: 40pt;
    color:#fff;
  }

  
  .site-layout-background {
    background: #fff;
  
  }